* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: #1e1e1e;
}

.header-1 {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #1e1e1e;
}

.head {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;

}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-text {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-top: 5px;
    
}

nav .New {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .New span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .nav {
    list-style-type: none;
    font-size: 26px;
    margin-top: 5px;
}

nav .nav li {
    display: inline-block;
}

nav .nav li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

nav .nav li a:hover {
    color: #0ef;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    margin-top: 6vh;
}

.container .hero-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.container .hero-pic img {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0.8);
    background: linear-gradient(45deg, cyan, #f08);
    box-shadow: 0 0 100px rgba(96, 191, 225, 0.5), 0 0 10px rgba(248, 31, 147, 0.8);



}



.hero-pic img:hover {
    transform: scale(1);
    border: #444;

}

.home-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.home-content h5 {
    color: #e5e5e5;
    font-size: 20px;
}

.home-content h5 span {
    color: #0ef;
    font-size: 20px;
}

.home-content h1 {
    color: rgb(17, 194, 207);
    font-size: 3rem;
    letter-spacing: 3px;
}

.home-content p {
    color: #e5e5e5;
    font-size: 20px;
}

.btn-group {
    margin: 45px 0;
}

.btn.active {
    border-color: #0ef;
}

.btn-box {
    display: inline-block;
    padding: 10px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    transition: .5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan ;
}

.home-content .home-sci i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.home-content .home-sci i:hover {
    background: #0ef;
    color: #081b29;
    box-shadow:0 0 20px #0ef;
    transform: rotate(360deg);

}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: #fff;
}

.sub-title span {
    color: #0ef;
}

section {
    padding-top: 4vh;
    height: 98vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;

}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;

}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-size: 600;
}

.section-p1 {
    text-align: center;
    color: #fff;

}

.section_text_p2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    
}

.icon {
    cursor: pointer;
    height: 2rem;
    
}

.fa-solid {
    font-size: 2rem;
}

#about {
    position: relative;

}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 100%;
    
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
}

.about-container,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
    box-shadow: 0 0 100px rgba(96, 191, 225, 0.5), 0 0 10px rgba(248, 31, 147, 0.8);

}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white
    ;border-radius: 2rem;
    border-color: cyan;
    text-align: center;
    background-color:rgb(177, 228, 231) ;
    width: 650px;
}

.details-container:hover {
    border: solid 5px cyan;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section-pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;

}


#experience,
.experience-details-container {
    margin-top: 2rem;
}

#profile,
.section-container {
    display:block;
}

.arrow {
    display: none;
}

.section,
.section-container {
height: fit-content;
}

section {
    margin: 0 5%;
}

.section-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
}

.about-container {
    margin-top: 0;
}

#experience {
    position: relative;
    margin-top: 20vh;
    height: 100vh;
}

.experience-sub-title {
    color: rgb(129, 128, 128);
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;

}

article .icon {
    cursor: pointer;
}

#projects {
    position: relative;
    height: 100vh;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background:  rgb(7, 85, 91);
}

.project-img {
    border-radius: 1rem;
    width: 120px;
    height: 120px;
}

.btn-box1 {
    display: inline-block;
    display: 5px 18px;
    background: #0ef;
    border-radius: 40px;
    font-size: 24px;
    color: #081b29;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;

}

.btn-box1:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan ;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #fff;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 2rem;
}

.contact-text p {
    color: rgb(163, 163, 163);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
    color: #fff;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}

.contact-list li a:hover {
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.contact-icons i:hover {
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555555;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan ;
}

.last-text {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}

.top i {
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 8px;
    border-radius: 0.5rem;
    

}



@media screen and (max-width: 1920px){
    .about-container {
        flex-wrap: wrap;
    }

    section,
    .section-container {
        height: fit-content;
    }
   
}

@media screen and (max-width: 1400px){
    .about-container {
        flex-wrap: wrap;
    }
   
}


@media(max-width:930px){
    nav .New {
        display: initial;
    }
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform-origin: center;
        transform: rotate(45deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform-origin: center;
        transform: rotate(-45deg);
    
    
    }


    nav .nav li a {
        display: block;
        margin-bottom: 15px;
        text-align: left;
        color: #fff; 
        font-size: 18px; 
        text-decoration: none;
        transition: color 0.3s ease; 
    }
    

    nav .nav {
        position: absolute;
        display: none;
        top: 110px;
        right: -20%;
        bottom: 0;
        width: 50%;
        height: 100vh;
        background-color:transparent;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }


    nav .nav li {
        display: block;
    }

    nav .nav li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    #about {
        position: relative;
        margin-top: 55vh;
    }

    #socials-container {
        width: 60%;
        gap: 2rem;
    }

    .details-container {
        width: 150px;
        margin-left: 45%;
        gap: 2rem;
    }
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding-top:  2rem; 
    }

    .home-content {
        padding: 45px 0;
    }

    #about {
        position: relative;
        margin-top: 70vh;
    }

    .contact {
        display: block;
    }

    .contact-text h2 {
        font-size: 50px;
    }

    .contact-text h4 {
        font-size: 20px;
    }

    .contact-list p {
        font-size: 17px;
    }

    .contact-list {
        font-size: 20px;
    }

    .contact-list li {
        font-size: 17px;
    }

    .contact-icons i {
        width: 30px;
        height: 30px;
        align-items:center ;
    }
}



@media screen and (max-width: 1200px) {
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section-pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;

    }

    .about-container {
        margin-top: 0;
    }

    .contact-text h2 {
        font-size: 40px;
    }

}






